<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button color="danger"  class="auto-hide-button" slot="end" (click)="onBasketClick()">
      <ion-badge color="light" class="badge-class">{{basketcount}}</ion-badge>
      <ion-icon slot="icon-only" name="basket-outline"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngFor="let itemcategory of itemsListDetails">
    <ion-list-header>
      <h4 style="font-weight: bold;font-style: italic;">{{itemcategory.categoryName}}</h4>      
    </ion-list-header>
  <ion-item *ngFor="let item of itemcategory.itemDtoList">
    <ion-thumbnail  slot="start">
      <img src="data:image/jpeg;base64,{{item.itemImage}}"  class="your-img">
    </ion-thumbnail>    
    <ion-label>
      <h2>{{item.itemName}}</h2>
      <h4>{{item.description}}</h4>      
      <ion-item lines="none" >       
        <ion-select style="font-size:small" placeholder="Select Quantity" (ionChange)="getselectedpriceId($event, item.itemID)">
          <ng-container *ngFor="let itemPrice of item.listItemPrice">
            <ion-select-option value="{{itemPrice.itemPriceID}}">{{itemPrice.priceCode}} : Price {{itemPrice.price}} ₹</ion-select-option>           
          </ng-container>          
        </ion-select>        
      </ion-item>      
    </ion-label>     
    <ion-button color="danger" (click)="addtoBasket(item.itemID)">Add</ion-button>    
  </ion-item>  
</ion-list>
</ion-content>
